.cards-chart {
    -fx-pref-width: 400px;
    -fx-pref-height: 250px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
    -fx-background-color: #FFF;
    -fx-background-radius: 5
}

.title {
    -fx-font-size: 28px;
    -fx-text-fill: linear-gradient(to left, -base, -base2);
}

.txt-desc {
    -fx-font-size: 16px;
    -fx-fill: #666
}

.jfx-radio-button {
    -jfx-selected-color: -base;
    -jfx-unselected-color: #777;
}

/* Start select year part */

.lbl-select-year {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #666;
}
.cards-year-box {
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
    -fx-background-radius: 10
}

.cards-year-box:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 15, 0, 0, 0);
}

.cards-year-title {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: -base3;
}

/* End select year part */

/* Start select level part */

.cards-level-box {
    -fx-pref-width: 130px;
    -fx-pref-height: 100px;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
    -fx-background-radius: 10
}

.cards-level-box:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.cards-level-title {
    -fx-font-family: arial;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to left, -base, -base2);
    -fx-opacity: 0.9;
}

/* End select level part */

/* Start Main LMD */

.lmd-radio {
    -fx-font-size: 17px;
    -fx-cursor: hand
}

.combo {
    -fx-font-size: 16px;
    -jfx-focus-color: -base;
    -jfx-unfocus-color: #777;
    -fx-prompt-text-fill: #333;
    -jfx-label-float: true;
    -fx-cursor: hand;
}

.lbl-link:hover {
    -fx-cursor: hand;
    -fx-underline: true
}

/* End Main LMD */